@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/background\ image.jpg');
    color: #fff;
    background-size: cover;
    background-position: center;
}

.newyear{
    font-size: 20px;
    font-family: "Inspiration";
}

p{
    font-size: 12px;
    margin-bottom: 10px;
}

.counter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:15px;
    margin-top: 10px;
}

.box{
    font-size: 12px;
}

.box h2{
    font-size: 15px;
    font-weight: 500;
}

.box small{
    font-size: 10px;
}


@media(min-width:567px){
    .newyear{
        font-size: 30px;
        font-family: "Inspiration";
    }
    p{
        font-size: 17px;
    }
    .box h2{
        font-size: 20px;
        font-weight: 500;
    }
    
    .box small{
        font-size: 15px;
    }
}


@media(min-width:667px){
    .newyear{
        font-size: 40px;
        font-family: "Inspiration";
    }
    p{
        font-size: 21px;
    }
    .box h2{
        font-size: 25px;
        font-weight: 500;
    }
    
    .box small{
        font-size: 20px;
    }
}


@media(min-width:867px){
    .newyear{
        font-size: 60px;
        font-family: "Inspiration";
    }
    p{
        font-size: 28px;
    }
    .box h2{
        font-size: 30px;
        font-weight: 500;
    }
    
    .box small{
        font-size: 15px;
    }
}